NODE_ENV=development
PORT=3000

DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=iclockdb
DB_CONNECTION_LIMIT=10
DB_MAX_OPEN_POOLS=5
DB_IDLE_TIMEOUT_MS=1800000
DB_CLEANUP_INTERVAL_MS=300000

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=90d
QR_LOGIN_TOKEN_EXPIRES_IN=5m
